# Node.js specific
node_modules/
npm-debug.log*
yarn.lock

# Angular specific
/dist/
/tmp/
/e2e/
/.angular-cli.json
/.angular-config.json
/angular.json
/package-lock.json
/tsconfig*.json
/*.js
/*.js.map

# IDE specific
/.vscode/
/.idea/

# Build files
/.ng-packagr/
.angular/
# Testing files
/karma-*.js
/protractor.conf.js

# Miscellaneous
.DS_Store
Thumbs.db
