<mat-toolbar color="primary" class="">
  <mat-toolbar-row class="d-flex justify-content-between">
    <span [routerLink]="['']">Your App Title</span>


    <div class="d-flex  justify-content-end">
      <button [routerLink]="['/mcq']" mat-button>
        MCQ
      </button>
      <button [routerLink]="['/exam']" mat-button>
        Exam
      </button>
      <button [routerLink]="['/package']" mat-button>
        Package
      </button>
      <button [routerLink]="['/coupon']" mat-button>
        Coupon
      </button>
      <button mat-button>
        Purchase
      </button>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
