

  <div class="question-card p-1" *ngIf="!loading">

    <div class="container-fluid --bs-white">
      <div class="row">
        <div class="col">
          <button mat-icon-button [routerLink]="['/mcq']">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>

        <div class="col p-2 d-flex justify-content-end">

          <button mat-icon-button [routerLink]="['/mcq/add/']" [queryParams]="{id: question.id}">
            <mat-icon  >edit</mat-icon>
          </button>

          <!--          <button mat-raised-button color="primary" (click)="uploadExel.click()"> <mat-icon>grid_on</mat-icon>Upload Excel</button>-->
<!--          <input #uploadExel  class="d-none" type="file" (change)="onExcelUpload($event)" accept=".xlsx, .xls">-->

        </div>
      </div>

    </div>


    <div class="container-fluid">

      <div class="row">

      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <h3>question:{{ question.question }}</h3>
          <img *ngIf="question.question_img" width="300px" class="m-2" [src]="question.question_img" alt="Question Image">
        </div>

        <div class="col-12 col-sm-6">
          <h3>Explanation:{{ question.explanation }}</h3>
          <img *ngIf="question.explanation_img" width="300px" class="m-2" [src]="question.explanation_img" alt="explanation Image">
        </div>

      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <h4>Options:</h4>
        <div class="col-12 col-sm-6 col-md-3">
            {{ question.option_text_1 }}
            <img *ngIf="question.option_img_1" [src]="question.option_img_1"  alt="Option 1 Image">
          <p>Option 1</p>

        </div>

        <div class="col-12 col-sm-6 col-md-3">
          {{ question.option_text_2 }}
          <img *ngIf="question.option_img_2" [src]="question.option_img_2" alt="Option 2 Image">
          <p>Option 2</p>

        </div>


        <div class="col-12 col-sm-6 col-md-3">
          {{ question.option_text_3 }}
          <img *ngIf="question.option_img_3" [src]="question.option_img_3" alt="Option 3 Image">
          <p>Option 3</p>

        </div>


        <div class="col-12 col-sm-6  col-md-3">
          {{ question.option_text_4 }}
          <img *ngIf="question.option_img_4" [src]="question.option_img_4" alt="Option 4 Image">
          <p>Option 4</p>

        </div>

      </div>
    </div>

    <div class="p-2">
      <p>Correct Answer: {{ question.correct_ans }}</p>
      <p>Hardness: {{ question.hardness }}</p>
      <p>Categories: {{ question.categories }}</p>
      <p>Subject: {{ question.subject }}</p>
      <p>Chapter: {{ question.chapter }}</p>
      <p>Problem Setter: {{ question.problem_setter_name }}</p>
      <p>Source: {{ question.source }}</p>
      <p>Verified: <mat-slide-toggle (change)="onToggleChange($event,'verified')"  [checked]="question.verified"></mat-slide-toggle></p>
      <p>Published: <mat-slide-toggle (change)="onToggleChange($event,'published')" [checked]="question.published"></mat-slide-toggle></p>
      <p>Create Date: {{ question.create_date  | date:'medium' }}</p>
      <p>Last Edit: {{ question.last_edit | date:'medium' }}</p>
    </div>
  </div>
