

<div class="question-card p-1" *ngIf="!loading">

  <div class="container-fluid --bs-white">
    <div class="row">
      <div class="col">
        <button mat-icon-button [routerLink]="['/question_bank']">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

      <div class="col p-2 d-flex justify-content-end">

        <button mat-icon-button [routerLink]="['/question_bank/add/']" [queryParams]="{id: questionBankDetails.id}">
          <mat-icon  >edit</mat-icon>
        </button>

      </div>
    </div>

  </div>



  <div class="p-2">
    <p>package_name: {{ questionBankDetails.id }}</p>
    <p>package_name: {{ questionBankDetails.varsity }}</p>
    <p>exam_number: {{ questionBankDetails.unit }}</p>
    <p>number_of_question: {{ questionBankDetails.year }}</p>
    <p>creator_name: {{ questionBankDetails.creator_name }}</p>
    <p>Published: <mat-slide-toggle (change)="onToggleChange($event,'published')" [checked]="questionBankDetails.published"></mat-slide-toggle></p>
    <p>Create Date: {{ questionBankDetails.create_date  | date:'medium' }}</p>
    <p>Last Edit: {{ questionBankDetails.last_edit | date:'medium' }}</p>


    <div *ngIf="questionBankDetails.mcq_list && questionBankDetails.mcq_list.length">
      <p>Packages:</p>
      <ul>
        <li *ngFor="let mcq of questionBankDetails.mcq_list">
          <div class="row">
            <div class="col">
              <span>
                question: {{ mcq.question }}
              </span>
            </div>
            <div class="col">
              <span>
                question: {{ mcq.subject }}
              </span>
            </div>
            <div class="col">
              <span>
                question: {{ mcq.chapter }}
              </span>
            </div>
            <div class="col">
              <a [routerLink]="['/mcq/details/',mcq.id]" target="_blank">

                <button mat-icon-button>
                  <mat-icon  color="primary">visibility</mat-icon>
                </button>
              </a>
            </div>
          </div>
          <!--          <p>Name: {{package.name}}</p>-->
          <!--          <p>Group: {{package.group}}</p>-->
        </li>
      </ul>
    </div>
  </div>
</div>
