/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.success-snackbar {
  background-color: #37ce18; /* Set your desired background color */
  color: #ffffff; /* Set your desired text color */
}
.full-width{
  width: 100%;
}

.max_width{
  max-width: 300px;
}
