# Virtual environment
venv/
env/
.pipenv/
.venv/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Dependency directories
lib/
libs/
lib64/
dist/
build/
egg-info/
wheels/
pip-wheel-metadata/
.sip/

# IDE-specific files
.idea/
.vscode/

# Logs
*.log

# Environment variables
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Miscellaneous
.DS_Store
Thumbs.db
