<div class="container-fluid --bs-white">
  <div class="row">
    <div class="col">
      <button mat-icon-button [routerLink]="['/mcq']">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <div class="col p-2 d-flex justify-content-end" *ngIf="!editMode">

      <button mat-raised-button color="primary" (click)="uploadExel.click()">
        <mat-icon>grid_on</mat-icon>
        Upload Excel
      </button>
      <input #uploadExel class="d-none" type="file" (change)="readExcelData($event)" accept=".xlsx, .xls">

    </div>
  </div>

</div>


<!--=======================-->


<ng-container *ngIf="excelJsonData">
  <h2>hi excel data here</h2>
  <table mat-table class="full-width-table" aria-label="Elements" [dataSource]="excelJsonData">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row" >{{row.question}}</td>
    </ng-container>


    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef>question</th>
      <td mat-cell  *matCellDef="let row; let i = index" [ngStyle]="{ 'background-color': excelDataUploadStatus[i] }">{{row.question}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>subject</th>
      <td mat-cell *matCellDef="let row">{{row.subject}}</td>
    </ng-container>

    <ng-container matColumnDef="chapter">
      <th mat-header-cell *matHeaderCellDef>chapter</th>
      <td mat-cell *matCellDef="let row">{{row.chapter}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>


<div class="container-fluid">
  <form [formGroup]="mcqForm" (ngSubmit)="onSubmit()" class="form">

    <!--    question-->

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Question</mat-label>
          <input matInput type="text" formControlName="question">
          <mat-error *ngIf="mcqForm.controls.question.invalid">
            <span *ngIf="mcqForm.controls.question.errors?.['required']">Question is required.</span>
          </mat-error>
          <button matSuffix type="button" *ngIf="!questionImagePreviewUrl" mat-icon-button color="primary"
                  (click)="qImageInput.click()">
            <mat-icon>image</mat-icon>
          </button>
          <button matSuffix type="button" *ngIf="questionImagePreviewUrl" mat-icon-button color="primary"
                  (click)="cancelImage('question')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <span *ngIf="mcqForm.controls.question.errors">{{mcqForm.controls.question.errors['api_error'] }}</span>

      </div>
      <div class="col-12 col-md-3" *ngIf="questionImagePreviewUrl">
        <img [src]="questionImagePreviewUrl" alt="Image Preview" [style.height.px]=150 class="full-width max_width">
      </div>
      <input #qImageInput type="file" formControlName="question_img" class="d-none"
             (change)="onImageChange('question', $event)" accept="image/*">
    </div>


    <!--    options-->


    <div class="row">

      <div class="col-12 col-sm-6 col-md-3">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>option Text 1</mat-label>
            <input matInput type="text" formControlName="option_text_1">
            <mat-error *ngIf="mcqForm.controls.option_text_1.invalid">
              <span *ngIf="mcqForm.controls.option_text_1.errors?.['required']">Option 1 is required.</span>
            </mat-error>

            <button matSuffix type="button" *ngIf="!optionOneImagePreviewUrl" mat-icon-button color="primary"
                    (click)="optionOneImageInput.click()">
              <mat-icon>image</mat-icon>
            </button>
            <button matSuffix type="button" *ngIf="optionOneImagePreviewUrl" mat-icon-button color="primary"
                    (click)="cancelImage('option_1')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <span
            *ngIf="mcqForm.controls.option_text_1.errors">{{mcqForm.controls.option_text_1.errors['api_error'] }}</span>

        </div>
        <input #optionOneImageInput type="file" formControlName="option_img_1" class="d-none"
               (change)="onImageChange('option_1', $event)" accept="image/*">

        <div class="col" *ngIf="optionOneImagePreviewUrl">
          <img [src]="optionOneImagePreviewUrl" alt="Image Preview" [style.height.px]=50 class="full-width">
        </div>

      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>option Text 2</mat-label>
            <input matInput type="text" formControlName="option_text_2">
            <mat-error *ngIf="mcqForm.controls.option_text_2.invalid">
              <span *ngIf="mcqForm.controls.option_text_2.errors?.['required']">Option 2 is required.</span>
            </mat-error>

            <button matSuffix type="button" *ngIf="!optionTwoImagePreviewUrl" mat-icon-button color="primary"
                    (click)="optionTwoImageInput.click()">
              <mat-icon>image</mat-icon>
            </button>
            <button matSuffix type="button" *ngIf="optionTwoImagePreviewUrl" mat-icon-button color="primary"
                    (click)="cancelImage('option_2')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <span
            *ngIf="mcqForm.controls.option_text_2.errors">{{mcqForm.controls.option_text_2.errors['api_error'] }}</span>

        </div>
        <input #optionTwoImageInput type="file" formControlName="option_img_2" class="d-none"
               (change)="onImageChange('option_2', $event)" accept="image/*">

        <div class="col" *ngIf="optionTwoImagePreviewUrl">
          <img [src]="optionTwoImagePreviewUrl" alt="Image Preview" [style.height.px]=50 class="full-width">
        </div>

      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>option Text 3</mat-label>
            <input matInput type="text" formControlName="option_text_3">
            <mat-error *ngIf="mcqForm.controls.option_text_3.invalid">
              <span *ngIf="mcqForm.controls.option_text_3.errors?.['required']">Option 3 is required.</span>
            </mat-error>

            <button matSuffix type="button" *ngIf="!optionThreeImagePreviewUrl" mat-icon-button color="primary"
                    (click)="optionThreeImageInput.click()">
              <mat-icon>image</mat-icon>
            </button>
            <button matSuffix type="button" *ngIf="optionThreeImagePreviewUrl" mat-icon-button color="primary"
                    (click)="cancelImage('option_3')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <span
            *ngIf="mcqForm.controls.option_text_3.errors">{{mcqForm.controls.option_text_3.errors['api_error'] }}</span>

        </div>
        <input #optionThreeImageInput type="file" formControlName="option_img_3" class="d-none"
               (change)="onImageChange('option_3', $event)" accept="image/*">

        <div class="col" *ngIf="optionThreeImagePreviewUrl">
          <img [src]="optionThreeImagePreviewUrl" alt="Image Preview" [style.height.px]=50 class="full-width">
        </div>

      </div>


      <div class="col-12 col-sm-6 col-md-3">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>option Text 4</mat-label>
            <input matInput type="text" formControlName="option_text_4">

            <mat-error *ngIf="mcqForm.controls.option_text_4.invalid">
              <span *ngIf="mcqForm.controls.option_text_4.errors?.['required']">Option 4 is required.</span>
            </mat-error>


            <button matSuffix type="button" *ngIf="!optionFourImagePreviewUrl" mat-icon-button color="primary"
                    (click)="optionFourImageInput.click()">
              <mat-icon>image</mat-icon>
            </button>
            <button matSuffix type="button" *ngIf="optionFourImagePreviewUrl" mat-icon-button color="primary"
                    (click)="cancelImage('option_4')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <span
            *ngIf="mcqForm.controls.option_text_4.errors">{{mcqForm.controls.option_text_4.errors['api_error'] }}</span>

        </div>
        <input #optionFourImageInput type="file" formControlName="option_img_4" class="d-none"
               (change)="onImageChange('option_4', $event)" accept="image/*">

        <div class="col" *ngIf="optionFourImagePreviewUrl">
          <img [src]="optionFourImagePreviewUrl" alt="Image Preview" [style.height.px]=50 class="full-width">
        </div>

      </div>
    </div>


    <!--    currect ans-->


    explanation
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Explanation</mat-label>
          <textarea rows="4" matInput type="text" formControlName="explanation"></textarea>
          <mat-error *ngIf="mcqForm.controls.explanation.invalid">
            <span *ngIf="mcqForm.controls.explanation.errors?.['required']">Explanation is required.</span>
          </mat-error>
          <button matSuffix type="button" *ngIf="!explanationImagePreviewUrl" mat-icon-button color="primary"
                  (click)="explanationImageInput.click()">
            <mat-icon>image</mat-icon>
          </button>
          <button matSuffix type="button" *ngIf="explanationImagePreviewUrl" mat-icon-button color="primary"
                  (click)="cancelImage('explanation')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <span *ngIf="mcqForm.controls.explanation.errors">{{mcqForm.controls.explanation.errors['api_error'] }}</span>

      </div>
      <div class="col-12 col-md-3" *ngIf="explanationImagePreviewUrl">
        <img [src]="explanationImagePreviewUrl" alt="Image Preview" [style.height.px]=130 class="full-width max_width">
      </div>
      <input #explanationImageInput type="file" formControlName="explanation_img" class="d-none"
             (change)="onImageChange('explanation', $event)" accept="image/*">
    </div>
    end explation

    <!--    correct ans -->

    <div class="row">

      <div class="col-12 col-sm-6 col-md-3">
        <mat-form-field class="full-width">
          <mat-label>Correct Answer</mat-label>
          <mat-select formControlName="correct_ans">
            <mat-option value="1">Option One</mat-option>
            <mat-option value="2">Option Two</mat-option>
            <mat-option value="3">Option Three</mat-option>
            <mat-option value="4">Option Four</mat-option>
          </mat-select>
          <mat-error *ngIf="mcqForm.controls.correct_ans.invalid">
            <span *ngIf="mcqForm.controls.correct_ans.errors?.['required']">Correct Answer is required.</span>
          </mat-error>
        </mat-form-field>
        <span *ngIf="mcqForm.controls.correct_ans.errors">{{mcqForm.controls.correct_ans.errors['api_error'] }}</span>

      </div>

      <!--    end correct ans-->


      <!--      subject-->
      <div class="col-12 col-sm-6 col-md-3">
        <mat-form-field class="full-width">
          <mat-label>Subject</mat-label>
          <mat-select formControlName="subject" (selectionChange)="selectSubjectChange($event)">
            <mat-option *ngFor="let subject of subjects" [value]="subject.name">{{ subject.value }}</mat-option>
          </mat-select>
          <mat-error *ngIf="mcqForm.controls.subject.invalid">
            <span *ngIf="mcqForm.controls.subject.errors?.['required']">Subject is required.</span>
          </mat-error>
        </mat-form-field>
        <span *ngIf="mcqForm.controls.subject.errors">{{mcqForm.controls.subject.errors['api_error'] }}</span>

      </div>
      <!--      end subject-->
      <!--    chapter-->

      <div class="col-12 col-sm-6 col-md-3">
        <mat-form-field class="full-width">
          <mat-label>Chapter</mat-label>
          <mat-select formControlName="chapter">
            <mat-option *ngFor="let chapter of selectedSubject|keyvalue"
                        [value]=chapter.key>{{ chapter.value   }} </mat-option>

          </mat-select>
          <mat-error *ngIf="mcqForm.controls.chapter.invalid">
            <span *ngIf="mcqForm.controls.chapter.errors?.['required']">Chapter is required.</span>
          </mat-error>
        </mat-form-field>
        <span *ngIf="mcqForm.controls.chapter.errors">{{mcqForm.controls.chapter.errors['api_error'] }}</span>

      </div>
      <!--end chapter-->

      <!--      hardness-->
      <div class="col-12 col-sm-6 col-md-3">
        <mat-form-field class="full-width">
          <mat-label>Hardness</mat-label>
          <mat-select formControlName="hardness">
            <mat-option *ngFor="let label of hardness|keyvalue" [value]=label.key>{{ label.value   }} </mat-option>

          </mat-select>
          <mat-error *ngIf="mcqForm.controls.hardness.invalid">
            <span *ngIf="mcqForm.controls.hardness.errors?.['required']">Hardness is required.</span>
          </mat-error>
        </mat-form-field>
        <span *ngIf="mcqForm.controls.hardness.errors">{{mcqForm.controls.hardness.errors['api_error'] }}</span>

      </div>
      <!--      hardness end-->


      <!--      categories -->
      <div class="col-12 col-sm-6 col-md-3">
        <mat-form-field class="full-width">
          <mat-label>Category</mat-label>
          <mat-select formControlName="categories">
            <mat-option *ngFor="let label of category|keyvalue" [value]=label.key>{{ label.value   }} </mat-option>

          </mat-select>
          <mat-error *ngIf="mcqForm.controls.categories.invalid">
            <span *ngIf="mcqForm.controls.categories.errors?.['required']">Category is required.</span>
          </mat-error>
        </mat-form-field>
        <span *ngIf="mcqForm.controls.categories.errors">{{mcqForm.controls.categories.errors['api_error'] }}</span>

      </div>
      <!--      categories end-->
      <!--      problem_setter -->
      <div class="col-12 col-sm-6 col-md-3" *ngIf="!userIsProblemSetter">
        <mat-form-field class="full-width">
          <mat-label>Problem Setter</mat-label>
          <mat-select formControlName="problem_setter">
            <mat-option *ngFor="let label of problem_setter|keyvalue"
                        [value]=label.key>{{ label.value   }} </mat-option>
          </mat-select>
        </mat-form-field>
        <span
          *ngIf="mcqForm.controls.problem_setter.errors">{{mcqForm.controls.problem_setter.errors['api_error'] }}</span>

      </div>
      <!--      problem_setter end-->

    </div>


    <div class="row mb-5  mt-4">
      <div class="col d-flex justify-content-center">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </div>


  </form>
</div>
