<div class="container-fluid --bs-white" >
  <div class="row d-flex justify-content-end">



    <button mat-icon-button (click)="toggleFilter()">
      <mat-icon>filter_alt</mat-icon>
    </button>


    <button mat-icon-button [routerLink]="['/exam/add']">
      <mat-icon  >add</mat-icon>
    </button>

  </div>
</div>




<ng-container *ngIf="isFilterFormOpen">
  <div class="container-fluid">
    <h3 class="text-center">Exam Filter Form</h3>
    <form [formGroup]="filterForm" (ngSubmit)="onSubmitFilter()" class="form">
      <div class="row">


        <!--    chapter-->

        <div class="col-12 col-sm-6 col-md-4">
          <mat-form-field class="full-width">
            <mat-label>Package</mat-label>
            <mat-select formControlName="package">
              <mat-option *ngFor="let package of packages|keyvalue" [value]=package.key>{{ package.value   }} </mat-option>

            </mat-select>
          </mat-form-field>
          <span *ngIf="filterForm.controls.package.errors">{{filterForm.controls.package.errors['api_error'] }}</span>

        </div>
        <!--end chapter-->

        <!--      hardness-->


        <div class="col-12 col-sm-6 col-md-4">
          <mat-form-field class="full-width">
            <mat-label>Published</mat-label>
            <mat-select formControlName="published">
              <mat-option value="True">True</mat-option>
              <mat-option value="False">False</mat-option>
            </mat-select>
          </mat-form-field>
          <span *ngIf="filterForm.controls.published.errors">{{filterForm.controls.published.errors['api_error'] }}</span>

        </div>

        <div class="col-12 col-sm-6 col-md-4">

          <mat-form-field class="full-width">
            <mat-label>Exam date range</mat-label>
            <mat-date-range-input  [rangePicker]="package_picker">
              <input matStartDate formControlName="from_exam_date" placeholder="From date">
              <input matEndDate formControlName="to_exam_date" placeholder="To date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="package_picker"></mat-datepicker-toggle>
            <mat-date-range-picker #package_picker></mat-date-range-picker>

            <mat-error *ngIf="filterForm.controls.from_exam_date.hasError('matStartDateInvalid')">Invalid From date</mat-error>
            <mat-error *ngIf="filterForm.controls.to_exam_date.hasError('matEndDateInvalid')">Invalid To date</mat-error>
          </mat-form-field>
          <span *ngIf="filterForm.controls.from_exam_date.errors">{{filterForm.controls.from_exam_date.errors['api_error'] }}</span>
          <span *ngIf="filterForm.controls.to_exam_date.errors">{{filterForm.controls.to_exam_date.errors['api_error'] }}</span>
        </div>
      </div>

      <div class="row mb-5  mt-4">
        <div class="col d-flex justify-content-around">

          <button  mat-stroked-button color="accent"  type="button" (click)="clearFilterData()">Clear Filter</button>
          <button  mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</ng-container>






<div class="mat-elevation-z8">
  <table mat-table class="full-width-table"  aria-label="Elements" [dataSource]="examDataList" >
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>View</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon [routerLink]="['/exam/details', row.id]">visibility</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="package">
      <th mat-header-cell *matHeaderCellDef >package</th>
      <td mat-cell *matCellDef="let row">{{row.package_name}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="exam_number">
      <th mat-header-cell *matHeaderCellDef >Exam number</th>
      <td mat-cell *matCellDef="let row">{{row.exam_number}}</td>
    </ng-container>

    <ng-container matColumnDef="exam_date">
      <th mat-header-cell *matHeaderCellDef >Date</th>
      <td mat-cell *matCellDef="let row">{{row.exam_date | date:'MMM d,y' }}</td>
    </ng-container>

    <ng-container matColumnDef="published">
      <th mat-header-cell *matHeaderCellDef >published</th>
      <td mat-cell *matCellDef="let row">
        <mat-slide-toggle disabled [checked]="row.published"></mat-slide-toggle>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 (page)="onChangePage($event)"
                 [length]="count"
                 [pageIndex]="0"
                 [pageSize]="25"
                 [pageSizeOptions]="[10, 25, 50,100]"
                 aria-label="Select page">
  </mat-paginator>
</div>
